/HM_11_qq/TestForm/obj
/HM_11_qq/TestForm/bin/Release
/HM_11_qq/TestForm/bin/Debug
/HM_11_qq/TokenGet/obj
/HM_11_qq/TokenGet/.vs
/HM_11_qq/TokenGet/bin
/HM_11_qq/WechatConn/obj
/HM_11_qq/WechatConn/bin
/HM_11_qq/*.suo
.vs
obj
/HM_11_qq/HM.Eleven.QQPlugin/bin/CQP
/HM_11_qq/HM.Eleven.QQPlugin/bin/Debug
/HM_11_qq/HM.Eleven.QQPlugin/bin/Release
